html {
  height: -webkit-fill-available;
  overflow: hidden;
  position: relative;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  background: rgb(244, 240, 228);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;

  // Fix for ios
  position: relative;
  height: 70vh;
  min-height: -webkit-fill-available;
  overflow: hidden;
}

#app {
  // height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 32px;
}

a {
  text-decoration: underline;
}

@media (max-width: 750px) {
  .container {
    padding: 0 24px;
  }
}
